<?xml version="1.0" encoding="utf-8"?>
<manifest package="tinker.sample.android"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" ></uses-permission>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.WRITE_GSERVICES"/>


    <application
        android:name=".app.SampleApplication"
        android:requestLegacyExternalStorage="true"
        android:exported="true"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:sharedUserId="android.uid.system"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.SampleResultService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>

        <activity android:name=".app.MyActivity"
                  android:launchMode = "singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver
            android:name=".receiver.PatchUpgradeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.finish.patch.upgrade" />
                <action android:name="com.finish.patch.downloadPatchAPK" />
            </intent-filter>
        </receiver>
        <receiver  android:name=".receiver.LazyCowLibBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lazy.cow.library.executeTests" />
            </intent-filter>
        </receiver>
        <service
            android:enabled="true"
            android:name="tinker.sample.android.app.BackgroundService"/>
    </application>

</manifest>
